<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">{{ vm.header }}</h2>
    <hr>
    <form ng-submit="vm.submitForm()" class="form-horizontal" name="portfolioForm">
      <div class="form-group">
        <label class="control-label col-sm-2" for="">Título:</label>
        <div class="col-sm-10 col-md-10">
          <input class="form-control" type="text" name="title" id="title" ng-model="vm.portfolio.title" ng-required="true">
          <p ng-show="portfolioForm.title.$invalid && portfolioForm.title.$touched"><small>Este campo es obligatorio</small></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="slug">
          <abbr title="URL">Slug :</abbr>
        </label>
        <div class="col-sm-10 col-md-10">
          <input class="form-control" type="text" name="slug" id="slug" ng-model="vm.portfolio.slug" ng-class="{'input-alert' : vm.exists}" ng-required="true" placeholder="(Debe ser único)">
          <p ng-show="portfolioForm.slug.$invalid && portfolioForm.slug.$touched"><small>Este campo es obligatorio</small></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="subtitle">Subtítulo:</label>
        <div class="col-sm-10 col-md-10">
          <input class="form-control" type="text" name="subtitle" id="subtitle" ng-model="vm.portfolio.subtitle">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="body">Cuerpo:</label>
        <div class="col-sm-10 col-md-10">
          <!-- <textarea class="form-control" name="body" id="body" ng-model="vm.portfolio.body"></textarea> -->
          <summernote ng-model="vm.portfolio.body" config="vm.options"></summernote>


        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="img">Actualizar imagen:</label>
        <small>{{vm.message}}</small>
        <input type="file" ngf-select name="img" id="img" ng-model="vm.imagen" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB" class="file inputfile">
        <label class="control-label text-center col-sm-10" for="img"><i class="fa fa-upload" aria-hidden="true"></i>
          <span class="smaller-text">{{vm.imagen.name || 'Seleccionar (tamaño máximo 2MB)'}}</span>
        </label>
      </div>
      <button type="submit" class="btn btn-custom pull-right" ng-disabled="vm.loading">
        <span class="loading-gif" ng-show="vm.loading">
          <img ng-src="/assets/img/loading.gif" alt="">
        </span>Actualizar
      </button>
    </form>
  </div>
</div>
