<div class="row">
  <div class="col-md-12">
    <div class="article-detail">
      <div class="article">
        <h1 class="article-title">{{ vm.post.title }}</h1>
        <p class="article-subtitle">{{ vm.post.subtitle }}
          <!-- <span>Creado el {{ vm.post.date }}</span> -->
        </p>
        <hr>
        <!-- <div class="row">
          <div class="col-md-12 col-sm-8">
            <img ng-src="public/assets/img/blog/{{ vm.post.img }}" alt="{{ vm.post.title }}" class="img-responsive article-img" ng-if="vm.post.img"/>
            <img ng-src="assets/img/neuderts-favicon.png" alt="{{ vm.post.title }}" class="img-responsive article-img" ng-if="!vm.post.img"/>
          </div>
        </div> -->
        <hr>
        <div class="portfolio-body" ng-bind-html="vm.post.body"></div>
      </div>
    </div>
  </div>
</div>
