<div class="row">
  <div class="col-md-12">
    <h2 class="admin-title text-center">Administración</h2>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h3 class="table-top">Portfolio</h3>
        <a ng-href="./admin/portfolio/new" class="btn btn-sm btn-create pull-right col-sm-2">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Agregar
        </a>
        <div class="table-container">
          <table class="table table-condensed" id="portfolioTable">
            <thead>
              <th>Titulo</th>
              <th title="URL personalizada">Slug</th>
              <th class="text-center">Tipo</th>
              <th>Subtitulo</th>
              <th>Fecha de creación</th>
              <th class="text-center">Eliminar</th>
            </thead>
            <tbody ui-sortable="vm.sortPortfolioOptions" ng-model="vm.portfolios">
              <tr ng-repeat="portfolio in vm.portfolios track by $index">
                <td><a ng-href="./admin/portfolio/{{portfolio.id}}">{{portfolio.title}}</a></td>
                <td><a ng-href="./admin/portfolio/{{portfolio.id}}">{{portfolio.slug}}</a></td>
                <td class="text-center">
                  <div ng-switch on="portfolio.type">
                    <span ng-switch-when="0">Ambos</span>
                    <span ng-switch-when="1">Video</span>
                    <span ng-switch-when="2">Diseño</span>
                  </div>
                </td>
                <td>{{portfolio.subtitle}}</td>
                <td>{{portfolio.date | date:'dd-MM-yyyy'}}</td>
                <td class="text-center">
                  <span ng-click="vm.rmPort(portfolio.id)" class="glyphicon glyphicon-remove remove-item" aria-hidden="true"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="table-top">Blogs</h3>
        <a ng-href="./admin/blog/new" class="btn btn-sm btn-create pull-right col-sm-2">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar
        </a>
        <div class="table-container">
          <table class="table table-condensed" id="blogTable">
            <thead>
              <th>Titulo</th>
              <th title="URL personalizada">Slug</th>
              <th>Subtitulo</th>
              <th>Fecha de creación</th>
              <th class="text-center">Eliminar</th>
            </thead>
            <tbody ui-sortable="vm.sortBlogOptions" ng-model="vm.blogs">
              <tr ng-repeat="blog in vm.blogs track by $index">
                <td><a ng-href="./admin/blog/{{blog.id}}">{{blog.title}}</a></td>
                <td><a ng-href="./admin/blog/{{blog.id}}">{{blog.slug}}</a></td>
                <td>{{blog.subtitle}}</td>
                <td>{{blog.date | date:'dd-MM-yyyy'}}</td>
                <td class="text-center">
                  <span ng-click="vm.rmBlog(blog.id)" class="glyphicon glyphicon-remove remove-item" aria-hidden="true"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
