<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10  col-md-offset-1">
    <div class="middle-box text-center loginscreen">

      <h2>Bienvenido</h2>
      <hr>
      <div class="alert alert-danger" ng-show="vm.error">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p class="small">{{vm.errormessage}}</p>
      </div>
      <form ng-submit="vm.onSubmit()" name="vm.registerForm">
        <div class="form-group">
          <!-- <label for="email">Correo electrónico</label> -->
          <input type="email" class="form-control" id="email" placeholder="Correo electrónico" ng-model="vm.credentials.email">
        </div>
        <div class="form-group">
          <!-- <label for="password">Contraseña (6 dígitos mínimo)</label> -->
          <input type="password" class="form-control" id="password" placeholder="Contraseña" ng-minlength="6" ng-model="vm.credentials.password">
        </div>
        <button type="submit" class="btn btn-default btn-block" ng-disabled="vm.registerForm.$invalid">Unirse</button>
      </form>

</div>

  </div>
</div>
